.wrap{
    width: 100;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/tutorial/1.jpg.jpg);
    background-size: cover;
    background-position: center;

    


}
.wrap-texto{
    color: #fff;
    text-align: center;
    width: 50%;
}

